<div class='new-question-wrapper'>
    <%= link_to new_users_question_path do %>
      <%= fa_icon('pencil') %> Nauja pateiktis
    <% end %>
</div>



<div class="post-placeholders">

</div>

<div class="sidebar">
  <div class="nauja-apklausa">
    <%= link_to 'Nauja apklausa', new_poll_path %>
    <%= link_to 'Apklausos', polls_path %>
  </div>
  <div class="poll-wrapper">
  </div>
</div>

<% #@questions.each do |question| %>
  <% #render partial: 'shared/question_small', locals: { question: question } %>
<% #end %>

<% #will_paginate @questions %>
