.poll-description {
  margin-bottom: $margin * 4;
}

.polls {
  .poll {
    border-top: 1px solid $p-black;
    margin: $margin auto;
    padding: $margin;
    position: relative;

    #poll-activate {
      position: absolute;
      right: $margin;
      top: $margin;
    }

    &.poll-active {
      background: #a7e2ae;

      #poll-activate {
        display: none;
      }
    }
  }

  .poll-title {
    margin-top: $margin / 2;
  }

  .poll-body {
    display: block;
    font-style: italic;
    margin-top: $margin / 2;
  }

  .poll-options {
    padding: $margin;
  }

  .poll-option:not(:last-child) {
    margin-bottom: $margin / 2;
  }

  .poll-option-score {

  }

  .poll-option-title {

  }

}
